body {
    font-family: sans-serif;
    background-color: #313338;
    color: #f0f1f3;
}

#app {
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#app label {
    display: block;
    margin-bottom: 5px;
    color: #b3b8bf;
}

#app input, #app textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #1e1f22;
    color: #ffffff;
    margin-bottom: 10px;
}

#app input[type="button"], #app input[type="reset"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #6064f4;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s ease;
}

#app input[type="button"]:hover, #app input[type="reset"]:hover {
    background-color: #4854c4;
}

/* Responsive styles */
@media (max-width: 1023px) {
    #app {
        width: 60%; 
        max-width: 400px;
        padding: 20px; 
    }
}