body {
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

section h2 {
    color: #ddd;
    margin-bottom: 20px;
}

section img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #ddd;
}

@media (max-width: 1023px) {
    .container {
        flex-direction: column;
    }
}
